<div class="row spaView concepts">
    <div class="col-xs-12 col-sm-3 col-md-4 sidebar" data-dojo-attach-point="sidebar">
        <div data-dojo-attach-point="_conceptTree" class="conceptTree"
             data-dojo-type="entryscape-commons/tree/Tree"></div>
        <div class="alert alert-danger schemeErrors hidden" id="tree-error"
             style="padding-bottom: 20px;" data-dojo-attach-point="_treeError,nls">
            <p style="display: inline-block" data-dojo-attach-point="nls">
                treeInconsistentMessage</p>
            <a style="display: inline-block" href="" data-dojo-attach-point="nls"
               data-dojo-attach-event="onclick: _fixTree">treeInconsistentPrompt</a>
        </div>
        <div class="conceptsControlls addTerm">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" style="font-size: 14px">
                            <span data-dojo-attach-point="nls">selectedTermDesc</span>
                            <span data-dojo-attach-point="__selectedTerm"
                                  style="font-weight: 700;"></span>
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   data-dojo-attach-point="nls,_termLabel"
                                   data-dojo-attach-event="keyup: _checkKey"/>

                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"
                                        data-dojo-attach-event="onclick:_newC">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-xs col-sm-9 col-md-8 conceptmain"
         data-dojo-attach-point="__conceptEditorMain">
        <div data-dojo-attach-point="__editorBlock" style="display:none">
            <div class="conceptEditor"
                 data-dojo-props="compact: false"
                 data-dojo-type="rdforms/view/bootstrap/LevelEditor"
                 data-dojo-attach-point="_editor"></div>

            <div class="conceptsControlls">
                <div class="btn-group btn-group-justified" role="group">
                    <button type="button" data-dojo-attach-point="_saveButton"
                            data-dojo-attach-event="onClick:_saveC"
                            class="btn btn-raised btn-success btn-lg btn-block"></button>
                    <button type="button" data-dojo-attach-point="_revertButton"
                            data-dojo-attach-event="onClick:_revertC"
                            class="btn btn-raised btn-default btn-lg btn-block"></button>
                    <button type="button" data-dojo-attach-point="_deleteButton"
                            data-dojo-attach-event="onClick:_deleteC"
                            class="btn btn-raised btn-default btn-lg btn-block"></button>
                </div>
            </div>
        </div>
        <div data-dojo-attach-point="__placeholder"></div>
    </div>
</div>
