<div>
    <div data-dojo-attach-point="__chooserHeader" class="sideDialogSubNav">
        <ul class="nav nav-pills nav-justified">
            <li data-dojo-attach-event="click:createT" data-dojo-attach-point="__createTab" class="active">
                <a data-dojo-attach-point="nls,__createLabel">createLabel</a>
            </li>
            <li data-dojo-attach-event="click:importT" data-dojo-attach-point="__importTab">
                <a data-dojo-attach-point="nls,__importLabel">importLabel</a>
            </li>
        </ul>
    </div>
    <div data-dojo-attach-point="__importNode" style="display:none"></div>
    <div data-dojo-attach-point="__createNode"></div>
</div>